.textbox input[type="text"]{ 
    width: 50%; 
    height: auto; 
    line-height : normal; 
    padding: .8em .5em;  
    font-family: inherit; 
    border: 1px solid #999; border-radius: 0; 
    outline-style: none;
    -webkit-appearance: none; 
    -moz-appearance: none; appearance: none; 
    color: black;
    border-radius: 12px;
}

.textbox input[type="button"]{
    color: rgb(255, 255, 255);
    background-color: rgb(128, 0, 0);
    border: 1px solid rgb(0, 0, 0); border-radius: 0;
    padding: .8em .5em;
    width: 10%;
    border-radius: 12px;
}

body{
    font-size: 20px;
    background-color: rgb(255, 137, 116);
    text-align: center;;
}

table, th, td, tbody{
    width: 300px;
    height: 300px;
}
